$tabSize:150px;
$mobile-width:640px;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0078FF; //#555
  width: 100%;
}

li {
  float: left;
  width: $tabSize;
}

li.rightSide {
border-left: 1px solid;
border-color:white; //#444
  float: right;
  width: $tabSize;
}

li a {

  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #FF8700;
}

@media (max-width:$mobile-width) {
  //ul {}

  li {
    float: none;
    width: 100%;
  }

  li.rightSide {
    border-left: 1px none;
    border-top: 1px solid;
    border-color:white;
    float: none;
    width: 100%;
  }
}